AgRequest agRequest = Ag.request(config)
{{#queryParams}}
                .{{baseName}}{{#isContainer}}s{{/isContainer}}({{paramName}}{{#isContainer}}s{{/isContainer}})
{{/queryParams}}
                .build();