package {{package}};

{{#imports}}import {{import}};
{{/imports}}

import com.nhl.link.rest.LrRequest;
import com.nhl.link.rest.DataResponse;

import java.util.*;
import javax.ws.rs.*;
import javax.ws.rs.core.*;

import com.nhl.link.rest.LinkRest;
import com.nhl.link.rest.SimpleResponse;
{{#hasCustomisation}}
    import com.nhl.link.rest.runtime.processor.update.UpdateContext;
    import com.nhl.link.rest.runtime.processor.select.SelectContext;
    import com.nhl.link.rest.UpdateStage;
    import com.nhl.link.rest.SelectStage;
    import {{package}}.stage.{{classname}}Stage;
{{/hasCustomisation}}

@Path("/")
public class {{classname}}{{#hasCustomisation}} extends {{classname}}Stage{{/hasCustomisation}} {

    @Context
    private Configuration config;

{{#operations}}
{{#operation}}
    @{{httpMethod}}
    {{#subresourceOperation}}@Path("/{{version}}{{path}}"){{/subresourceOperation}}
    {{#hasConsumes}}
    @Consumes({ {{#consumes}}"{{{mediaType}}}"{{#hasMore}}, {{/hasMore}}{{/consumes}} })
    {{/hasConsumes}}
    {{#hasProduces}}
    @Produces({ {{#produces}}"{{{mediaType}}}"{{#hasMore}}, {{/hasMore}}{{/produces}} })
    {{/hasProduces}}
    {{>get}}{{>delete}}{{>post}}{{>put}}
{{/operation}}
}
{{/operations}}
