    .includeId()
                {{#headerParams}}
                .attribute("{{paramName}}")
                {{/headerParams}}
                {{#allParams}}{{#isQueryParam}}
                {{!--.queryParam("paramName")--}}{{/isQueryParam}}{{/allParams}}