Constraint.excludeAll({{{returnType}}}.class)
                .includeId()
                {{#modelAttributes}}
                .attribute("{{paramName}}")
                {{/modelAttributes}}

                {{#modelRelations}}
                .path("{{bodyParam.paramName}}",{{>constraintParams}})
                {{/modelRelations}}
                {{#allParams}}{{#isQueryParam}}
                .queryParam("{{paramName}}"){{/isQueryParam}}{{/allParams}}