{{#isRestfulIndex}}
    {{#hasCompoundId}}
public {{>returnTypes}} {{nickname}}({{#allParams}}{{>pathParams}}{{>queryParams}}{{#hasMore}}, {{/hasMore}}{{/allParams}}) {

        Map<String, Object> id = new HashMap<>();
        {{#modelAttributes}}
            {{#isQueryParam}}
        id.put("{{paramName}}", {{paramName}});
            {{/isQueryParam}}
        {{/modelAttributes}}

        return LinkRest.select({{{returnType}}}.class, config)
                    .constraint({{>constraintParams}}
                    )
                    .byId(id)
                    {{>methodsImpl}}
                    .getOne();
    }
    {{/hasCompoundId}}
    {{^hasCompoundId}}
public {{>returnTypes}} {{nickname}}({{#allParams}}{{>pathParams}}{{>queryParams}}{{#hasMore}}, {{/hasMore}}{{/allParams}}) {
        return LinkRest.select({{{returnType}}}.class, config)
                    .constraint({{>constraintParams}}
                    )
                    {{>methodsImpl}}
                    .get();
    }
    {{/hasCompoundId}}
{{/isRestfulIndex}}
{{#isRestfulShow}}
    public {{>returnTypes}} {{nickname}}({{#allParams}}{{>pathParams}}{{>queryParams}}{{#hasMore}}, {{/hasMore}}{{/allParams}}) {

        return LinkRest.select({{{returnType}}}.class, config)
                    .constraint({{>constraintParams}}
                    )
                    .byId({{#pathParams}}{{paramName}}{{/pathParams}})
                    {{>methodsImpl}}
                    .get();
    }
{{/isRestfulShow}}
{{#isRestfulIndexToMany}}
    public DataResponse<{{#modelRelations}}{{returnType}}{{/modelRelations}}> {{nickname}}({{#allParams}}{{>pathParams}}{{>queryParams}}{{#hasMore}}, {{/hasMore}}{{/allParams}}) {

        return LinkRest.select({{#modelRelations}}{{returnType}}{{/modelRelations}}.class, config)
                    .constraint({{#modelRelations}}{{>constraintParams}}{{/modelRelations}}
                    )
                    .parent({{returnType}}.class, {{#pathParams}}{{paramName}}{{/pathParams}}, "{{#modelRelations}}{{bodyParam.paramName}}{{/modelRelations}}")
                    {{>methodsImpl}}
                    .get();
    }
{{/isRestfulIndexToMany}}
