{{#isRestfulCreate}}
public {{>returnTypes}} {{nickname}}({{#allParams}}{{>pathParams}}{{>queryParams}}{{>bodyParams}}{{#hasMore}}, {{/hasMore}}{{/allParams}}) {

        return LinkRest.create({{{returnType}}}.class, config)
                    .readConstraint({{>constraintParams}}
                    )
                    {{>methodsImpl}}
                    .syncAndSelect({{#bodyParam}}{{paramName}}{{/bodyParam}});
    }
{{/isRestfulCreate}}
{{#isRestfulRelatedToManyCreate}}
public DataResponse<{{#bodyParams}}{{dataType}}{{/bodyParams}}> {{nickname}}({{#allParams}}{{>pathParams}}{{>queryParams}}{{>bodyParams}}{{#hasMore}}, {{/hasMore}}{{/allParams}}) {

        return LinkRest.createOrUpdate({{#bodyParams}}{{dataType}}{{/bodyParams}}.class, config)
                    .readConstraint({{#modelRelations}}{{>constraintParams}}{{/modelRelations}}
                    )
                    .parent({{returnType}}.class, {{#pathParams}}{{#-first}}{{paramName}}{{/-first}}{{/pathParams}}, "{{#modelRelations}}{{bodyParam.paramName}}{{/modelRelations}}")
                    {{>methodsImpl}}
                    .syncAndSelect({{#bodyParam}}{{paramName}}{{/bodyParam}});
    }
{{/isRestfulRelatedToManyCreate}}
