{{#isRestfulUpdate}}
public {{>returnTypes}} {{nickname}}({{#allParams}}{{>pathParams}}{{>queryParams}}{{>bodyParams}}{{#hasMore}}, {{/hasMore}}{{/allParams}}) {

        {{>methodsImpl}}

        return LinkRest.idempotentCreateOrUpdate({{{returnType}}}.class, config)
                    .readConstraint({{>constraintParams}}
                    )
                    .id({{#pathParams}}{{paramName}}{{/pathParams}})
                    .request(lrRequest)
                    .syncAndSelect({{#bodyParam}}{{paramName}}{{/bodyParam}});
    }
{{/isRestfulUpdate}}
{{#isRestfulBulkUpdate}}
    {{#hasCompoundId}}
public {{>returnTypes}} {{nickname}}({{#allParams}}{{>pathParams}}{{>queryParams}}{{>bodyParams}}{{#hasMore}}, {{/hasMore}}{{/allParams}}) {

        Map<String, Object> id = new HashMap<>();
        {{#modelAttributes}}
            {{#isQueryParam}}
                id.put("{{paramName}}", {{paramName}});
            {{/isQueryParam}}
        {{/modelAttributes}}


        {{>methodsImpl}}

        return LinkRest.idempotentCreateOrUpdate({{{returnType}}}.class, config)
                    .readConstraint({{>constraintParams}}
                    )
                    .id(id)
                    .request(lrRequest)
                    .syncAndSelect({{#bodyParam}}{{paramName}}{{/bodyParam}});
    }
    {{/hasCompoundId}}
    {{^hasCompoundId}}
public {{>returnTypes}} {{nickname}}({{#allParams}}{{>pathParams}}{{>queryParams}}{{>bodyParams}}{{#hasMore}}, {{/hasMore}}{{/allParams}}) {

        {{>methodsImpl}}

        return LinkRest.idempotentCreateOrUpdate({{{returnType}}}.class, config)
                    .readConstraint({{>constraintParams}}
                    )
                    .request(lrRequest)
                    .syncAndSelect({{#bodyParam}}{{paramName}}{{/bodyParam}});
    }
    {{/hasCompoundId}}
{{/isRestfulBulkUpdate}}
{{#isRestfulRelatedUpdate}}
public DataResponse<{{#bodyParams}}{{dataType}}{{/bodyParams}}> {{nickname}}({{#allParams}}{{>pathParams}}{{>queryParams}}{{>bodyParams}}{{#hasMore}}, {{/hasMore}}{{/allParams}}) {

        {{>methodsImpl}}

        return LinkRest.idempotentCreateOrUpdate({{#bodyParams}}{{dataType}}{{/bodyParams}}.class, config)
                    .readConstraint({{#modelRelations}}{{>constraintParams}}{{/modelRelations}}
                    )
                    .id({{#pathParams}}{{#-last}}{{paramName}}{{/-last}}{{/pathParams}})
                    .parent({{returnType}}.class, {{#pathParams}}{{#-first}}{{paramName}}{{/-first}}{{/pathParams}}, {{returnType}}.{{#bodyParams}}{{dataType}}{{/bodyParams}})
                    .request(lrRequest)
                    .syncAndSelect({{#bodyParam}}{{paramName}}{{/bodyParam}});
    }
{{/isRestfulRelatedUpdate}}
{{#isRestfulRelatedToManyUpdate}}
public DataResponse<{{#bodyParams}}{{dataType}}{{/bodyParams}}> {{nickname}}({{#allParams}}{{>pathParams}}{{>queryParams}}{{>bodyParams}}{{#hasMore}}, {{/hasMore}}{{/allParams}}) {

        {{>methodsImpl}}

        return LinkRest.idempotentCreateOrUpdate({{#bodyParams}}{{dataType}}{{/bodyParams}}.class, config)
                    .readConstraint({{#modelRelations}}{{>constraintParams}}{{/modelRelations}}
                    )
                    .parent({{returnType}}.class, {{#pathParams}}{{#-first}}{{paramName}}{{/-first}}{{/pathParams}}, "{{#modelRelations}}{{bodyParam.paramName}}{{/modelRelations}}")
                    .request(lrRequest)
                    .syncAndSelect({{#bodyParam}}{{paramName}}{{/bodyParam}});
    }
{{/isRestfulRelatedToManyUpdate}}
