DataResponse<{{#returnContainer}}{{#isMapContainer}}{{{returnType}}}{{/isMapContainer}}{{#isListContainer}}{{{returnType}}}{{/isListContainer}}{{/returnContainer}}{{^returnContainer}}{{{returnType}}}{{/returnContainer}}>